<div class="container">
  <button routerLink="/time-entry/add" class="add-button">Add New Time Entry</button>

  <div class="image-container">
    <img src="assets/images/TimeTracker-Senay.png" alt="Dein Bild" class="full-width-image">
  </div>
  
  <table>
    <tr>
      <th>Datum</th>
      <th>Startzeit</th>
      <th>Endzeit</th>
      <th>Dauer (Minuten)</th>
      <th>Aufgabe</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let entry of timeEntries">
      <td>{{ entry.date | date }}</td>
      <td>{{ entry.startTime }}</td>
      <td>{{ entry.endTime }}</td>
      <td>{{ calculateDuration(entry.startTime, entry.endTime) }}</td>
      <td>{{ getTaskNameById(entry.taskId) }}</td>
      <td>
        <button (click)="deleteTimeEntry(entry.id)" *appIsInRole="'admin'">Delete</button>
      </td>
    </tr>
  </table>
  
</div>
