<div class="container">
  <button routerLink="/users/add" class="add-button">Add New User</button>

  <div class="image-container">
    <img src="assets/images/TimeTracker-Senay.png" alt="Dein Bild" class="full-width-image">
  </div>

  <table>
    <tr>
      <th>Benutzername</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users" class="user">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button routerLink="/users/edit/{{ user.id }}">Edit</button> 
        <button (click)="deleteUser(user.id)" *appIsInRole="'admin'">Delete</button>
      </td>
    </tr>
  </table>
</div>
