<div>
  <h3>{{ timeEntry.id ? 'Zeiteintrag bearbeiten' : 'Neuen Zeiteintrag erfassen' }}</h3>

  <form [formGroup]="timeEntryForm" (ngSubmit)="saveTimeEntry()">
    <mat-form-field>
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Stunden</mat-label>
      <input matInput type="number" formControlName="hours" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Projekt</mat-label>
      <input matInput formControlName="projectId" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Task</mat-label>
      <input matInput formControlName="taskId" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Speichern</button>
    <button mat-button type="button" (click)="back()">Abbrechen</button>
  </form>
  

<div class="tasks">

</div>
</div>