<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['projects']">
        <mat-icon>assignment</mat-icon>
        <span>Projects</span>
      </button>
      <button mat-menu-item [routerLink]="['tasks']">
        <mat-icon>task</mat-icon>
        <span>Tasks</span>
      </button>
      <button mat-menu-item [routerLink]="['time-entries']">
        <mat-icon>schedule</mat-icon>
        <span>Time Entries</span>
      </button>
      <button mat-menu-item [routerLink]="['users']">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>
    </mat-menu>
  
    <header>Time Tracker</header>
  
    <span class="toolbar__spacer"></span>
  
    <small>{{ pagetitle }}</small>
  
    <span class="toolbar__spacer"></span>
  
    <!-- Here goes your login component -->
    <app-login></app-login>
  </mat-toolbar>
  
  <main class="container">
    <div class="container__section">
      <router-outlet></router-outlet>
    </div>
  </main>
  