<div class="container">
  <button routerLink="/tasks/add" class="add-button">Add New Task</button>

  <div class="image-container">
    <img src="assets/images/TimeTracker-Senay.png" alt="Dein Bild" class="full-width-image">
  </div>

  <table>
    <tr>
      <th>Task Name</th>
      <th>Beschreibung</th>
      <th>Project</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ getProjectNameById(task.projectId) }}</td>
      <td>
        <button routerLink="/tasks/{{ task.id }}">Edit</button>
        <button (click)="deleteTask(task.id)" *appIsInRole="'admin'">Delete</button>
      </td>
    </tr>
  </table>
</div>