<div class="container">
  <h3>{{ user.username ? 'Benutzer bearbeiten' : 'Neuen Benutzer erfassen' }}</h3>

  <div class="image-container">
    <img src="assets/images/TimeTracker-Senay.png" alt="Dein Bild" class="full-width-image">
  </div>

</div>
  <form (ngSubmit)="saveUser(userForm.value)" [formGroup]="userForm">

    <mat-form-field>
      <mat-label>Benutzername</mat-label>
      <input type="text" formControlName="username" matInput required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input type="password" formControlName="password" matInput required />
    </mat-form-field>

    <button mat-flat-button color="warn" type="button" (click)="back()">Abbrechen</button>
    <button mat-raised-button color="primary" type="submit">Speichern</button>

  </form>

  <div class="tasks">
  </div>

