<!-- user-list.component.html -->
<div class="header">
    HEADER
  </div>
  <div class="navbar">
    NAVBAR
  </div>
  <div class="content">
    <button>Add New User</button>
    <div class="user">
      User 1 | <button>View</button> <button>Edit</button> <button>Delete</button>
    </div>
    <div class="user">
      User 2 | <button>View</button> <button>Edit</button> <button>Delete</button>
    </div>
    <div class="user">
      User 3 | <button>View</button> <button>Edit</button> <button>Delete</button>
    </div>
    <!-- Repeat for other users -->
  </div>
  