<div class="header">
  HEADER
</div>
<div class="navbar">
  NAVBAR
</div>
<div class="content">
  
  <button routerLink="/time-entry/add">Add New Time Entry</button>
  <div class="time-entry">
    Time Entry 1 | <button routerLink="/time-entry/1">View</button> <button>Edit</button> <button>Delete</button>
  </div>
  <div class="time-entry">
    Time Entry 2 | <button routerLink="/time-entry/2">View</button> <button>Edit</button> <button>Delete</button>
  </div>
  <div class="time-entry">
    Time Entry 3 | <button routerLink="/time-entry/3">View</button> <button>Edit</button> <button>Delete</button>
  </div>
  <!-- Repeat for other time entries -->
</div>
