<div class="container">
  <button routerLink="/time-entry/add" class="add-button">Add New Time Entry</button>

  <table>
    <tr>
      <th>Datum</th>
      <th>Beschreibung</th>
      <th>Projekt</th>
      <th>Task</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let entry of timeEntries">
      <td>{{ entry.date | date }}</td>
      <td>{{ entry.description }}</td>
      <td>{{ entry.projectId }}</td>
      <td>{{ entry.taskId }}</td>
      <td>
        <button routerLink="/time-entry/{{ entry.id }}">View</button>
        <button>Edit</button>
        <button (click)="deleteTimeEntry(entry.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>
