

.header {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #333;
}

.navbar {
  background-color: #8acdad;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.container {
  margin: 20px;
  background-color: rgb(160, 182, 163); /* Hintergrundfarbe für das gesamte Element mit der Klasse "container" */
  position: relative;
  overflow: auto; /* Damit der Container bei Bedarf scrollbar wird */
}

.image-container {
  float: right; /* Bild wird ganz rechts ausgerichtet */
  margin-left: 20px; /* Platz zwischen dem Bild und dem Tabelleninhalt */
}

.full-width-image {
  max-width: 100%; /* Das Bild wird innerhalb des Containers nicht breiter als der Container selbst */
}

.add-button {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f2f2f2;
}

button {
  background-color: #8acdad;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #8b8acd;
}